app_dependencies:
  type: text
  content: |
    #!/bin/sh

    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: >+
    #/bin/sh

    <<'###'

    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Vivek KB
lastUpdatedOn: 2022-08-04T04:35:48.114Z
