app_dependencies:
  type: text
  content: |
    #!/bin/sh

    docker build -f ecserver/Dockerfile -t ecserver:$GIT_COMMIT_ID ecserver 
    docker tag ecserver:$GIT_COMMIT_ID  ecserver:$ROOST_NAMESPACE  
app_deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -f ecserver/ecserver.yaml
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Vivek KB
lastUpdatedOn: 2022-08-04T04:36:07.691Z
