build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE
deploy:
  type: text
  content: |+
    #/bin/sh



    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Vivek K B
lastUpdatedOn: 2022-10-17T05:09:40.539Z
