build:
  type: text
  content: |-
    #!/bin/sh

    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE
deploy:
  type: text
  content: |+
    #/bin/sh

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Vivek K B
lastUpdatedOn: 2023-02-24T05:43:22.486Z
